src/main/resources/org/opengis/cite/swecommon20/sch/A.4.ChoiceComponents.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema
    xmlns="http://purl.oclc.org/dsdl/schematron"
    queryBinding="xslt2"
    xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    
    <!--
        This Schematron schema checks the section A.4. Choice Components UML package 
        
        OGC® SWE Common Data Model Encoding Standard.
        Copyright © 2011 Open Geospatial Consortium.
        To obtain additional rights of use, visit http://www.opengeospatial.org/legal/. 
    -->
    
    <title>Choice Components UML Package Validation from Req 44 to Req 46</title>
    
    <ns
        prefix="swe"
        uri="http://www.opengis.net/swe/2.0"/>
    <ns
        prefix="xsi"
        uri="http://www.w3.org/2001/XMLSchema-instance"/>
    <ns
        prefix="xlink"
        uri="http://www.w3.org/1999/xlink"/>
    
    <pattern>
        <title>Req 46 - Choice item name unique </title>
        <rule context=" //swe:DataChoice/swe:item ">
            <report
                test=" @name = preceding-sibling::swe:item/@name ">
                Each DataChoice item has a unique name.
            </report>
        </rule>
    </pattern>
    
    
</schema>