src/main/resources/org/opengis/cite/swecommon20/sch/A.6.SimpleEncodings.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema
    xmlns="http://purl.oclc.org/dsdl/schematron"
    queryBinding="xslt2"
    xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    
    <!--
        This Schematron schema checks the section A.6. Simple Encodings UML package 
        
        OGC® SWE Common Data Model Encoding Standard.
        Copyright © 2011 Open Geospatial Consortium.
        To obtain additional rights of use, visit http://www.opengeospatial.org/legal/. 
    -->
    
    <title>Simple Encodings UML Package Validation from Req 53 to Req 54</title>
    
    <ns
        prefix="swe"
        uri="http://www.opengis.net/swe/2.0"/>
    <ns
        prefix="xsi"
        uri="http://www.w3.org/2001/XMLSchema-instance"/>
    <ns
        prefix="xlink"
        uri="http://www.w3.org/1999/xlink"/>
    
    <!--
    <pattern>
        <title>Req xxx - xxx</title>
        <rule context=" xxx ">
            <assert
                test=" xxx ">
                xxx.
            </assert>
        </rule>
    </pattern>
    -->
    
    
</schema>